@font-face {
  font-family: 'opensans';
  font-weight: normal;
  src: url('../fonts/opensans.eot'), url('../fonts/opensans.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.ttf') format('truetype');
}
@font-face {
  font-family: 'opensansitalic';
  font-weight: normal;
  src: url('../fonts/opensansitalic.eot'), url('../fonts/opensansitalic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensansitalic.woff') format('woff'), url('../fonts/opensansitalic.ttf') format('truetype');
}
@font-face {
  font-family: 'opensansbold';
  font-weight: normal;
  src: url('../fonts/opensansbold.eot'), url('../fonts/opensansbold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensansbold.woff') format('woff'), url('../fonts/opensansbold.ttf') format('truetype');
}
@font-face {
  font-family: 'opensansextrabold';
  font-weight: normal;
  src: url('../fonts/opensansextrabold.eot'), url('../fonts/opensansextrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensansextrabold.woff') format('woff'), url('../fonts/opensansextrabold.ttf') format('truetype');
}
html {
  font-size: 1px;
  box-sizing: border-box;
}
* {
  font-family: opensans;
  font-size: 16rem;
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
a:focus {
  border: none;
  outline: none;
}
svg {
  display: block;
}
ul {
  list-style: none;
}
.wrapper {
  width: 1180px;
  margin: 0 auto;
}
.overlay {
  display: none;
}
.overlay.active {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 5;
  display: block;
}
.modal-form {
  border-radius: 3px;
  background-color: #589233;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  width: 413px;
  height: 450px;
  box-sizing: border-box;
  padding: 40px;
}
.modal-form .close-modal {
  position: fixed;
  right: 5%;
  top: 5%;
  cursor: pointer;
}
.modal-form form p {
  font-size: 30rem;
  font-family: opensansbold;
  color: #ffffff;
  line-height: 1;
  text-align: center;
}
.modal-form form input {
  display: block;
  margin: 0 auto;
}
.modal-form form input[type="text"] {
  border-width: 1px;
  border-color: #e5e5e5;
  border-style: solid;
  border-radius: 2px;
  background-color: #ffffff;
  color: #a1a1a1;
  font-size: 14px;
  font-family: opensansitalic;
  width: 278px;
  height: 43px;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal-form form input[type="submit"] {
  border: none;
  border-radius: 2px;
  background-image: -moz-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  background-image: -webkit-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  background-image: -ms-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  box-shadow: 0px 2px 0px 0px rgba(157, 94, 9, 0.004);
  width: 280px;
  height: 43px;
  cursor: pointer;
  font-size: 18px;
  font-family: opensansbold;
  color: #ffffff;
  line-height: 1.667;
  text-shadow: 0px 1px 0px rgba(157, 94, 9, 0.004);
}
.modal-form form input[type="submit"]:hover {
  background-image: -moz-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
  background-image: -webkit-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
  background-image: -ms-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
}
.modal-form .after-send {
  margin-top: 10%;
  display: none;
}
.modal-form .after-send button {
  width: 100%;
}
.modal-form .after-send p {
  font-size: 25rem;
  text-align: center;
  margin-bottom: 30px;
}
.modal-form.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: none;
  opacity: 0;
  z-index: 12;
  height: auto;
}
.mobile-menu {
  display: none;
}
.mobile-menu-trigger {
  display: none;
}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
header,
footer {
  background-color: #fff;
  padding: 15rem 0;
}
header .wrapper,
footer .wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: replace(space-between, "flex-", "");
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
header .wrapper .logo a,
footer .wrapper .logo a {
  display: inline-block;
  vertical-align: middle;
}
header .wrapper .logo a img,
footer .wrapper .logo a img {
  height: 4.1vw;
}
header .wrapper nav ul,
footer .wrapper nav ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
header .wrapper nav ul li,
footer .wrapper nav ul li {
  font-family: opensansbold;
  font-size: 14rem;
  margin: 0 15rem;
  position: relative;
  cursor: pointer;
}
header .wrapper nav ul li:nth-child(1),
footer .wrapper nav ul li:nth-child(1) {
  margin-left: 0;
}
header .wrapper nav ul li::after,
footer .wrapper nav ul li::after {
  content: '|';
  color: #000;
  position: absolute;
  right: -20rem;
}
header .wrapper nav ul li:last-child,
footer .wrapper nav ul li:last-child {
  margin-right: 0;
}
header .wrapper nav ul li:last-child::after,
footer .wrapper nav ul li:last-child::after {
  display: none;
}
header .wrapper nav ul li:hover,
footer .wrapper nav ul li:hover {
  color: #589233;
}
header .wrapper .contacts,
footer .wrapper .contacts {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
header .wrapper .contacts a,
footer .wrapper .contacts a {
  color: #000;
  font-size: 24rem;
  font-family: opensansbold;
  margin-right: 15rem;
  position: relative;
}
header .wrapper .contacts a:last-child,
footer .wrapper .contacts a:last-child {
  margin: 0;
}
header .wrapper .contacts a.tel-phone::before,
footer .wrapper .contacts a.tel-phone::before {
  content: '';
  height: 40rem;
  width: 1px;
  background-color: #d8d8d8;
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .wrapper .contacts #phone-icon,
footer .wrapper .contacts #phone-icon {
  fill: #589233;
  fill-rule: evenodd;
}
.banner {
  position: relative;
  height: 100vh;
  background: #F2F1F0;
  background-image: url(../img/wave.png), url(../img/bg.jpg);
  background-repeat: repeat-x, no-repeat;
  background-position: center top, center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
.banner .wrapper {
  padding-top: 4.5vw;
}
.banner .banner-title-big {
  text-shadow: 0px 0px 27px rgba(40, 40, 31, 0.6);
  font-size: 3vw;
  font-family: opensansbold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2vh;
}
.banner p {
  font-size: 1.8vw;
  font-family: opensans;
  color: #ffffff;
  line-height: 1.333;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(22, 28, 9, 0.004);
  margin-bottom: 3vw;
}
.banner .banner-icons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -ms-flex-pack: replace(space-around, "flex-", "");
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 6vh;
}
.banner .banner-icons .banner-icon {
  height: 6.5vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}
.banner .banner-icons .banner-icon img {
  height: 100%;
}
.banner .banner-icons .banner-icon span {
  color: #fff;
  height: 6.5vw;
  display: block;
  line-height: 8.5vw;
  font-size: 1vw;
}
.banner .banner-icons .banner-icon.icon1 {
  background-image: url(../img/icon-1.png);
}
.banner .banner-icons .banner-icon.icon2 {
  background-image: url(../img/icon-2.png);
}
.banner .banner-icons .banner-icon.icon2 span {
  line-height: 1;
  padding-top: 3.2vw;
}
.banner .banner-icons .banner-icon.icon3 {
  background-image: url(../img/icon-3.png);
}
.banner .banner-button {
  border-radius: 55px;
  background-color: rgba(227, 182, 52, 0.3);
  width: 30vw;
  padding: 1.5vw;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  transition: 200ms;
}
.banner .banner-button .banner-button-wrapper {
  border-radius: 35px;
  padding: 15px;
  background-image: -moz-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  background-image: -webkit-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  background-image: -ms-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  box-shadow: 0px 4px 0px 0px rgba(157, 94, 9, 0.004);
}
.banner .banner-button .banner-button-wrapper span {
  font-size: 1vw;
  font-family: opensansbold;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.309;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(157, 94, 9, 0.004);
  -moz-transform: matrix(1.09622641509434, 0, 0, 1.09090909090909, 0, 0);
  -webkit-transform: matrix(1.09622641509434, 0, 0, 1.09090909090909, 0, 0);
  -ms-transform: matrix(1.09622641509434, 0, 0, 1.09090909090909, 0, 0);
}
.banner .banner-button:hover {
  background-color: rgba(227, 182, 52, 0.5);
}
.banner .banner-button-down {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
.banner .banner-button-down img {
  width: 3.8vw;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 0.75px;
  }
  .mobile-menu {
    position: fixed;
    transition: 500ms;
    height: 100vh;
    background-color: #589233;
    z-index: 10;
    width: 259px;
    padding: 30px;
    -webkit-transform: translateX(-259px);
    -ms-transform: translateX(-259px);
    transform: translateX(-259px);
    display: block;
  }
  .mobile-menu.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .mobile-menu .close {
    position: absolute;
    top: 5%;
    left: 30rem;
    cursor: pointer;
  }
  .mobile-menu .logo {
    text-align: center;
  }
  .mobile-menu .line {
    background-color: #dde9d5;
    width: 100%;
    height: 1px;
    margin-top: 40px;
  }
  .mobile-menu ul li {
    font-size: 16px;
    font-family: opensansbold;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: left;
    margin-top: 40px;
    cursor: pointer;
  }
  .wrapper {
    width: 710px;
  }
  header .wrapper nav,
  footer .wrapper nav {
    display: none;
  }
  header .wrapper .mobile-menu-trigger,
  footer .wrapper .mobile-menu-trigger {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 30px;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 0.6px;
  }
  .wrapper {
    width: 300px;
  }
  .modal-form {
    width: 300px;
    padding: 25px;
  }
  .modal-form form input {
    width: 100% !important;
  }
  header .wrapper svg,
  footer .wrapper svg {
    height: 15px;
  }
  header .wrapper .mobile-menu-trigger,
  footer .wrapper .mobile-menu-trigger {
    margin: 0;
    margin-right: 10px;
  }
  header .wrapper .logo a img,
  footer .wrapper .logo a img {
    height: 26px;
  }
  .banner {
    height: auto;
  }
  .banner .wrapper {
    padding-top: 5.5vh;
    padding-bottom: 5.5vh;
  }
  .banner .banner-title-big {
    font-size: 16px;
  }
  .banner p {
    font-size: 11px;
  }
  .banner .banner-icons {
    margin-bottom: 3vh;
  }
  .banner .banner-icons .banner-icon {
    height: 55px;
  }
  .banner .banner-icons .banner-icon span {
    font-size: 10px;
    height: 100%;
    line-height: 75px;
  }
  .banner .banner-icons .banner-icon.icon2 span {
    padding-top: 28px;
  }
  .banner .banner-button {
    width: 230px;
    padding: 15px;
  }
  .banner .banner-button .banner-button-wrapper {
    padding: 5px;
  }
  .banner .banner-button .banner-button-wrapper span {
    font-size: 8px;
  }
}
