@import "mixins";

h2 {
  &.title {
    font-size: 36rem;
    font-family: opensansbold;
    color: rgb(52, 52, 48);
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
    position: relative;
    margin-bottom: 100rem;
    padding-top: 80rem;
    &::after {
      content: '';
      position: absolute;
      background-image: url(../img/line-listik.png);
      height: 20rem;
      width: 500rem;
      bottom: -30rem;
      left: 0;
      right: 0;
      margin: auto;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.green {
      &::after {
        background-image: url(../img/line-green-listik.png);
      }
    }
  }
}

.green-form {
  border-width: 1px;
  border-color: rgb(77, 129, 45);
  border-style: solid;
  border-radius: 4px;
  background-color: rgb(88, 146, 51);
  box-shadow: 0px 22px 33px 0px rgba(0, 0, 0, 0.13);
  text-align: center;
  width: 100%;
  padding: 55rem 0;
  .title {
    display: block;
    font-size: 30rem;
    font-family: opensansbold;
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: center;
    margin-bottom: 50rem;
  }
  input {
    display: inline-block;
    vertical-align: middle;
  }
  input[type='text'] {
    border-width: 1px;
    border-color: rgb(229, 229, 229);
    border-style: solid;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    color: rgb(161, 161, 161);
    font-size: 14px;
    font-family: opensansitalic;
    width: 278px;
    height: 43px;
    padding-left: 30px;
    margin-right: 20px;
  }
  input[type='submit'] {
      border: none;
      border-radius: 2px;
      background-image: -moz-linear-gradient( 90deg, rgb(209,123,12) 0%, rgb(224,173,18) 100%);
      background-image: -webkit-linear-gradient( 90deg, rgb(209,123,12) 0%, rgb(224,173,18) 100%);
      background-image: -ms-linear-gradient( 90deg, rgb(209,123,12) 0%, rgb(224,173,18) 100%);
      box-shadow: 0px 2px 0px 0px rgba(157, 94, 9, 0.004);
      width: 280px;
      height: 43px;
      cursor: pointer;
      font-size: 18px;
      font-family: opensansbold;
      color: rgb(255, 255, 255);
      line-height: 1.667;
      text-shadow: 0px 1px 0px rgba(157, 94, 9, 0.004);
    &:hover {
      background-image: -moz-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
      background-image: -webkit-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
      background-image: -ms-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
    }
  }
}

.about {
  background-image: url(../img/bg-2.png);
  background-color: #f1f1ef;
  background-repeat: no-repeat;
  background-position: center;
  .gallery {
    //.flex-block();
    //.flex-wrap(wrap);
    //.justify-content(space-between);
    text-align: center;
    margin-bottom: 80rem;
    .about-gallery {
      position: relative;
      margin-bottom: 10rem;
      cursor: pointer;
      line-height: 0;
      display: inline-block;
      width: calc(~"25% - 15rem");
      &>img {
        width: 100%;
      }
      .about-gallery-overlay {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 85%;
        height: 85%;
        opacity: 0;
        background-color: rgba(88, 146, 51, 0.8);
        text-align: center;
        padding: 0 30rem;
        .flex-block();
        .justify-content(center);
        .flex-direction(column);
        span {
          font-size: 18rem;
          font-family: opensansbold;
          color: rgb(255, 255, 255);
          line-height: 1.667;
          margin-bottom: 15rem;
        }
        img {
          margin: 0 auto;
        }
      }
      &:hover {
        .box-shadow(0 0px 10px rgba(91, 109, 94,0.6));
        .about-gallery-overlay {
          opacity: 1;
        }
      }
      }
    }
  .gallery-fancybox {
    display: none;
  }
  .about-text {
    display: block;
    font-size: 20rem;
    font-family: opensans;
    color: rgb(52, 52, 48);
    line-height: 1.8;
    text-align: justify;
    padding-bottom: 100rem;
  }
}

.advantages {
  position: relative;
  .left-tree {
    position: absolute;
    top: -220rem;
    right: -8vw;
  }
  .right-tree {
    position: absolute;
    top: -220rem;
    left: -8vw;
    .transform(scale(-1,1));
  }
  .left-tree, .right-tree {
    width: 18vw;
  }
  .advantages-advantage {
    .flex-block();
    .align-items(center);
    &:nth-child(2n+1) {
      //.justify-content(end);
      margin-left: 50%;
    }
    .advantages-advantage-image {
      margin-right: 60rem;
    }
    .advantages-advantage-descr {
      max-width: 270rem;
      .title {
        font-size: 24rem;
        font-family: opensansbold;
        color: rgb(88, 146, 51);
        line-height: 1.25;
        text-align: left;
      }
      .description {
        color: #343430;
        font-size: 19rem;
        font-family: opensansbold;
      }
    }
  }
  .advantages-small-poselok {
    display: block;
    font-size: 24rem;
    font-family: opensans;
    color: rgb(52, 52, 48);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40rem;
    margin-top: 80rem;
    font {
      font-family: opensansbold;
      color: rgb(88, 146, 51);
      font-size: inherit;
    }
  }
  .advantages-green-text {
    display: block;
    font-family: opensansbold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(88, 146, 51);
    font-size: 24rem;
    margin-bottom: 130rem;
  }
}

.placement {
  background: #f7f7f6;
  .green-form:first-child {
    .transform(translateY(-25%));
    position: relative;
    .listik-left {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 246rem;
      width: 10vw;
      .transform(translateX(-130%));
    }
    .listik-right {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 188rem;
      width: 10vw;
      .transform(translateX(135%));
    }
  }
  .green-form:last-child {
    .transform(translateY(25%));
    position: relative;
    .leaf3 {
      position: absolute;
      width: 9vw;
      bottom: 0;
      right: 0;
      .transform(translateX(150%) translateY(15%));
    }
  }
  h2.title {
    padding: 0;
  }
  img {
    width: 100%;
  }
  .map {
    position: relative;
    .leaf2 {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 9vw;
      .transform(translateX(-130%));
    }
  }
}

.choose {
  background-image: url(../img/bg-3.png);
  background-position: center;
  background-repeat: no-repeat;
  h2.title {
    padding-top: 100rem;
  }
  .choose-advantages {
    .flex-block();
    .flex-wrap(wrap);
    .justify-content(space-around);
    .choose-advantages-advantage {
      .flex-block();
      .align-items(center);
      margin-bottom: 100rem;
      .advantages-advantage-image {
        margin-right: 30rem;
      }
      .advantages-advantage-descr {
        max-width: 270rem;
        .title {
          font-size: 24rem;
          font-family: opensansbold;
          color: rgb(88, 146, 51);
          line-height: 1.25;
          text-align: left;
        }
        .description {
          color: #343430;
          font-size: 18rem;
          font-family: opensansbold;
        }
      }
    }
  }
}

.plan {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
  }
  .plan-help {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 22px 0px rgba(101, 116, 48, 0.7);
    position: absolute;
    top: 0;
    left: 10%;
    max-width: 255rem;
    max-height: 318rem;
    padding: 40rem 20rem 15rem 20rem;
    .transition(500ms);
    p {
      font-size: 18rem;
      font-family: opensansbold;
      color: rgb(52, 52, 48);
      line-height: 1.667;
      padding-left: 40rem;
      background-position: center left;
      background-repeat: no-repeat;
      margin-bottom: 8rem;
      background-size: contain;
      &.svobodno {
        background-image: url(../img/krug-grey.png);
      }
      &.bron {
        background-image: url(../img/krug-yellow.png);
      }
      &.zanyato {
        background-image: url(../img/krug-red.png);
      }
    }
    .priglash {
      display: block;
      font-size: 16rem;
      font-family: opensansbold;
      color: rgb(88, 146, 51);
      line-height: 1.5;
      text-align: center;
    }
    .button {
      display: block;
      background-image: -moz-linear-gradient( 90deg, rgb(209,123,12) 0%, rgb(224,173,18) 100%);
      background-image: -webkit-linear-gradient( 90deg, rgb(209,123,12) 0%, rgb(224,173,18) 100%);
      background-image: -ms-linear-gradient( 90deg, rgb(209,123,12) 0%, rgb(224,173,18) 100%);
      box-shadow: 0px 2px 0px 0px rgba(157, 94, 9, 0.004);
      width: 100%;
      font-size: 24rem;
      font-family: opensansbold;
      color: rgb(255, 255, 255);
      line-height: 0.75;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(157, 94, 9, 0.004);
      border-radius: 50px;
      padding: 15rem 0;
      cursor: pointer;
      margin: 15rem 0;
      &:hover {
        background-image: -moz-linear-gradient( 90deg, rgb(209,123,12) 0%, rgb(255, 195, 15) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(209,123,12) 0%, rgb(255, 195, 15) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(209,123,12) 0%, rgb(255, 195, 15) 100%);
      }
    }
    .hide {
      display: table;
      font-size: 14rem;
      font-family: opensans;
      color: rgb(52, 52, 48);
      line-height: 1.714;
      text-align: center;
      margin: 0 auto;
      cursor: pointer;
      border-bottom: 1px dotted #000;
      img {
        width: auto;
      }
    }
    &.close {
      .transform(translateY(-85%));
      .hide {
        img {
          .rotate(180deg);
        }
      }
    }
  }
  .plan-popup {
    position: absolute;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.902);
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.3);
    max-width: 353rem;
    max-height: 363rem;
    overflow: hidden;
    padding: 18px;
    opacity: 0;
    z-index: -1;
    &.active {
      opacity: 1;
      z-index: 1;
    }
    .close {
      max-width: 10px;
      cursor: pointer;
      position: absolute;
      right: 2%;
      top: 0%;
    }
    .plan-popup-wrapper {
      .images {
        display: none;
      }
      &.house {
        .images {
          display: block;
          margin-bottom: 10rem;
          img {
            display: inline-block;
            vertical-align: middle;
            width: calc(~"33% - 10rem");
            margin-left: 10rem;
            &:first-child {
              margin: 0;
            }
          }
        }
      }
      .info-wrapper {
        .flex-block();
        .align-items(center);
        .justify-content(center);
        .ploshad {
          width: 33%;
          text-align: center;
          padding: 0 30rem 0 0;
          span {
            font-size: 24rem;
            font-family: opensansbold;
            color: rgb(88, 146, 51);
            text-transform: uppercase;
            line-height: 1;
            text-align: center;
          }

          img {
            max-width: 63px;
          }
        }
        .info {
          width: 67%;
        }

        .info {
          span {
            display: block;
            font-size: 14rem;
            color: #343430;
            &.green {
              color: #589233;
              font-family: opensansbold;
              &.price {
                font-size: 24rem;
                small {
                  font-size: 14rem;
                  font-family: inherit;
                }
              }
            }
            &:nth-child(2n) {
              margin-bottom: 12rem;
            }
          }
        }
      }
      .green-line {
        background-color: rgb(88, 146, 51);
        width: 100%;
        height: 2px;
      }
      p {
        display: block;
        text-align: center;
        font-family: opensansbold;
        font-size: 16rem;
        line-height: 1.5;
        font {
          font-family: inherit;
          font-size: 24rem;
          color: #589233;
          small {
            color: inherit;
            font-family: inherit;
            font-size: 16rem;
          }
        }
      }
    }
  }
}

.kuchastku {
  position: relative;
  overflow: hidden;
  .tree {
    position: absolute;
    .transform(translateY(-55%));
    width: 18vw;
  }
  .lists {
    .flex-block();
    .justify-content(space-around);
    .list {
      position: relative;
      &::before {
        //content: '';
        //width: 2px;
        //height: calc(~"100% - 52px");
        //background-color: #D2D6D9;
        //display: block;
        //position: absolute;
        //left: -80px;
        //top: 0;
        //bottom: 0;
        //margin: auto;
      }
      li {
        position: relative;
        font-size: 18rem;
        color: rgb(52, 52, 48);
        line-height: 1.5;
        background-image: url(../img/plus.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 40px;
        max-width: 400px;
        min-height: 55rem;
        .flex-block();
        .align-items(center);
        margin-left: 150rem;
        &::before {
          //content: '';
          //position: absolute;
          //left: -70px;
          //width: 70px;
          //height: 2px;
          //background-color: #D2D6D9;
          //top: 0;
          //bottom: 0;
          //margin: auto;
          content: '';
          position: absolute;
          width: 150rem;
          margin-right: 5px;
          left: -150rem;
          height: 1px;
          border-top: 1px solid #D2D6D9;
          top: 50%;
        }
        &::after {
          content: '';
          position: absolute;
          border-left: 1px solid #D2D6D9;
          height: 100%;
          width: 1px;
          left: -150rem ;
          top: 0px;
        }
        &:last-child:after{
          height: 50%;
        }
        &:first-child:after{
          height: 50%;
          top: 50%;
        }
      }
    }
  }
}

.houses {
  position: relative;
  overflow: hidden;
  .tree {
    position: absolute;
    bottom: 0;
    right: 0;
    .transform(translateY(55%));
    width: 18vw;
  }
  .owl {
    margin-bottom: 240rem;
  }
  .item {
    .flex-block();
    .justify-content(space-between);
    .house {
      //margin: 0 5px;
      position: relative;
      .house-info {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.9);
        width: 90%;
        height: 80px;
        padding: 10rem;
        img {
          max-width: 12px;
          width:auto;
          display: inline;
        }
        &>span {
          display: block;
        }
        .address {
          color: #589233;
          font-size: 14px;
          font-family:opensansbold;
        }
        .material {
          color: #343430;
          font-size: 14px;
          font-family:opensansbold;
          font {
            color: #589233;
            font-size: 14px;
            font-family:inherit;
          }
        }
        .razmer {
          .flex-block();
          .justify-content(space-between);
          span {
            font-size: 16px;
            font-family:opensansbold;
            color: #589233;
            small {
              font-size: 12px;
              color: #343430;
              font-family: inherit;
            }
          }
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
  }
  }
}

.two-years {
  background-color: #ededec;
  background-image: url(../img/wave.png);
  background-position: center top;
  background-repeat: repeat-x;
  .wrapper {
    position: relative;
  }
  .green-form {
    .transform(translateY(-75%));
    position: absolute;
  }
  h2.title {
    margin-bottom: 60rem;
    padding-top: 100rem;
  }
  .two-years-green-text {
    display: block;
    text-align: center;
    font-size: 24rem;
    font-family: opensans;
    color: rgb(88, 146, 51);
    line-height: 1.25;
    margin-bottom: 40rem;
  }
  .two-years-wrapper {
    .flex-block();
    .justify-content(space-evenly);
    padding-bottom: 70rem;
    span {
      font-size: 24rem;
      font-family: opensansbold;
      color: rgb(52, 52, 48);
      line-height: 1.25;
      text-align: center;
      display: block;
      margin-bottom: 40rem;
    }

    .two-years-photos-wrapper {
      //.flex-block();
      //.flex-direction(column);
      //.justify-content(space-between);
      img {
        display: inline-block;
        width: 49%;
      }
    }
  }
}

.partners {
  background-image: url(../img/bg-3.png);
  position: relative;
  .leaf5 {
    position: absolute;
    width: 5.3vw;
    top: 0;
    left: 0;
    .transform(translateY(25%));
    z-index: 1;
  }
  .leaf6 {
    position: absolute;
    width: 5.3vw;
    right: 0;
    bottom: 0;
  }
  .partners-photos {
    .flex-block();
    .justify-content(space-between);
    .align-items(center);
    padding-bottom: 60rem;
    img {
      .align-self(center);
      width: 100%;
    }
  }
}

.banner.footer {
  background-image: url(../img/wave180.png), url(../img/bg.jpg);
  background-repeat: repeat-x, no-repeat;
  background-position: center bottom, center;
  clip-path: none;
  height: auto;
  .wrapper {
    padding-bottom: 4.5vw;
  }
}

@media screen and (max-width: 1200px){
  .green-form {
    input[type="submit"] {
      margin-top: 30px;
    }
  }

  .kuchastku {
    .lists {
      .list {
        li {
          margin-left: 100rem;
          max-width: 320rem;
          min-height: 85rem;
        }
        li::before {
          width: 90rem;
          left: -90rem;
        }
        li::after {
          left: -90rem;
        }
      }
    }
  }

  .houses .item {
    .flex-direction(column);
  }

  .houses .owl {
    margin-bottom: 250px;
  }

  .two-years h2.title {
    padding-top: 120px;
  }

  .partners {
    .partners-photos {
      &>div {
        margin-left: 60rem;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  h2 {
    &.title {
      &::after {
        display: none;
      }
    }
  }

  .banner {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  }
  .about {
    .gallery {
      .about-gallery {
        width: calc(~"49% - 15rem");
        margin-bottom: 10px;
      }
    }
  }
  .advantages .left-tree, .advantages .right-tree {
    display: none;
  }
  .advantages-advantage-image {
    img {
      width: 60px;
    }
  }
  .advantages .advantages-advantage:nth-child(2n+1) {
    margin-left: 25%;
  }
  .green-form {
    padding: 55rem 40px;
    input[type="text"] {
      margin: 0 auto;
      margin-bottom: 15px;
      height: 30px;
      width: 100%;
    }
    input[type="submit"] {
      height: 30px;
      margin: 0;
      width: 100%;
    }
  }
  .choose .choose-advantages .choose-advantages-advantage {
    width: 50%;
    .flex-direction(column);
    .advantages-advantage-image {
      margin: 0;
    }
    .advantages-advantage-descr {
      text-align: center;
    }
  }
  .plan {
    .plan-help {
      max-width: 80px;
      max-height: 110px;
      padding: 15rem 10rem 15rem 10rem;
      p {
        font-size: 8px;
        line-height: 1;
      }
      .priglash {
        font-size: 8px;
        line-height: 1;
      }
      .button {
        padding: 5rem 0;
        margin: 5rem 0;
        font-size: 6px;
      }
      .hide {
        font-size: 9rem;
      }
    }
    .plan-popup {
      padding: 5px;
      max-width: 150rem;
      max-height: 180rem;
      .close {
        max-width: 10px;
      }
      .plan-popup-wrapper {
        &.house {
          .images {
            margin-bottom: 0;
            img {
              width: calc(~"33% - 10rem");
              margin-left: 10rem;
            }
          }
        }
        .info-wrapper {
          display: block;
          .ploshad {
            width: 100%;
            padding: 0;
            text-align: left;
            span {
              font-size: 12rem;
              &:after {
                content: ' сотки';
                text-transform: none;
              }
            }

            img {
              display: none;
            }
          }
          .info {
            width: 100%;
          }

          .info {
            span {
              font-size: 9rem;
              &.green {
                &.price {
                  font-size: 12rem;
                  small {
                    font-size: 8rem;
                  }
                }
              }
              &:nth-child(2n) {
                margin-bottom: 0;
              }
            }
          }
        }
        .green-line {
          background-color: rgb(88, 146, 51);
          width: 100%;
          height: 2px;
        }
        p {
          font-size: 9rem;
          line-height: 1;
          font {
            font-size: 9rem;
            small {
              font-size: 8rem;
            }
          }
        }
      }
    }
  }
  .kuchastku {
    .lists {
      .flex-direction(column);
    }
    .tree {
      display: none;
    }
  }
  .two-years {
    .two-years-wrapper {
      .two-years-photos-wrapper {
        img {
          width: 100%;
        }
      }
    }
  }

  .placement {
    .green-form:last-child {
      .transform(translateY(15%));
    }
    .listik-left, .listik-right, .leaf2, .leaf3 {
      display: none;
    }
  }

  .partners {
    .leaf5, .leaf6 {
      display: none;
    }
    .partners-photos {
      .flex-wrap(wrap);
      &>div {
        margin-left: 60rem;
        width: calc(~"49% - 60rem");
        margin-bottom: 20rem;
        &:nth-last-child(2) {
          margin: 0;
        }
      }
    }
  }

  .houses {
    .tree {
      display: none;
    }
    .green-form {
      .transform(translateY(15%));
    }
    .item {
      .house:first-child {
        margin-bottom: 30px;
      }
    }
  }
}