h2.title {
  font-size: 36rem;
  font-family: opensansbold;
  color: #343430;
  text-transform: uppercase;
  line-height: 1.667;
  text-align: center;
  position: relative;
  margin-bottom: 100rem;
  padding-top: 80rem;
}
h2.title::after {
  content: '';
  position: absolute;
  background-image: url(../img/line-listik.png);
  height: 20rem;
  width: 500rem;
  bottom: -30rem;
  left: 0;
  right: 0;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
h2.title.green::after {
  background-image: url(../img/line-green-listik.png);
}
.green-form {
  border-width: 1px;
  border-color: #4d812d;
  border-style: solid;
  border-radius: 4px;
  background-color: #589233;
  box-shadow: 0px 22px 33px 0px rgba(0, 0, 0, 0.13);
  text-align: center;
  width: 100%;
  padding: 55rem 0;
}
.green-form .title {
  display: block;
  font-size: 30rem;
  font-family: opensansbold;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  margin-bottom: 50rem;
}
.green-form input {
  display: inline-block;
  vertical-align: middle;
}
.green-form input[type='text'] {
  border-width: 1px;
  border-color: #e5e5e5;
  border-style: solid;
  border-radius: 2px;
  background-color: #ffffff;
  color: #a1a1a1;
  font-size: 14px;
  font-family: opensansitalic;
  width: 278px;
  height: 43px;
  padding-left: 30px;
  margin-right: 20px;
}
.green-form input[type='submit'] {
  border: none;
  border-radius: 2px;
  background-image: -moz-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  background-image: -webkit-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  background-image: -ms-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  box-shadow: 0px 2px 0px 0px rgba(157, 94, 9, 0.004);
  width: 280px;
  height: 43px;
  cursor: pointer;
  font-size: 18px;
  font-family: opensansbold;
  color: #ffffff;
  line-height: 1.667;
  text-shadow: 0px 1px 0px rgba(157, 94, 9, 0.004);
}
.green-form input[type='submit']:hover {
  background-image: -moz-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
  background-image: -webkit-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
  background-image: -ms-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
}
.about {
  background-image: url(../img/bg-2.png);
  background-color: #f1f1ef;
  background-repeat: no-repeat;
  background-position: center;
}
.about .gallery {
  text-align: center;
  margin-bottom: 80rem;
}
.about .gallery .about-gallery {
  position: relative;
  margin-bottom: 10rem;
  cursor: pointer;
  line-height: 0;
  display: inline-block;
  width: calc(25% - 15rem);
}
.about .gallery .about-gallery > img {
  width: 100%;
}
.about .gallery .about-gallery .about-gallery-overlay {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 85%;
  height: 85%;
  opacity: 0;
  background-color: rgba(88, 146, 51, 0.8);
  text-align: center;
  padding: 0 30rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: replace(center, "flex-", "");
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.about .gallery .about-gallery .about-gallery-overlay span {
  font-size: 18rem;
  font-family: opensansbold;
  color: #ffffff;
  line-height: 1.667;
  margin-bottom: 15rem;
}
.about .gallery .about-gallery .about-gallery-overlay img {
  margin: 0 auto;
}
.about .gallery .about-gallery:hover {
  -webkit-box-shadow: 0 0px 10px rgba(91, 109, 94, 0.6);
  box-shadow: 0 0px 10px rgba(91, 109, 94, 0.6);
}
.about .gallery .about-gallery:hover .about-gallery-overlay {
  opacity: 1;
}
.about .gallery-fancybox {
  display: none;
}
.about .about-text {
  display: block;
  font-size: 20rem;
  font-family: opensans;
  color: #343430;
  line-height: 1.8;
  text-align: justify;
  padding-bottom: 100rem;
}
.advantages {
  position: relative;
}
.advantages .left-tree {
  position: absolute;
  top: -220rem;
  right: -8vw;
}
.advantages .right-tree {
  position: absolute;
  top: -220rem;
  left: -8vw;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.advantages .left-tree,
.advantages .right-tree {
  width: 18vw;
}
.advantages .advantages-advantage {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.advantages .advantages-advantage:nth-child(2n+1) {
  margin-left: 50%;
}
.advantages .advantages-advantage .advantages-advantage-image {
  margin-right: 60rem;
}
.advantages .advantages-advantage .advantages-advantage-descr {
  max-width: 270rem;
}
.advantages .advantages-advantage .advantages-advantage-descr .title {
  font-size: 24rem;
  font-family: opensansbold;
  color: #589233;
  line-height: 1.25;
  text-align: left;
}
.advantages .advantages-advantage .advantages-advantage-descr .description {
  color: #343430;
  font-size: 19rem;
  font-family: opensansbold;
}
.advantages .advantages-small-poselok {
  display: block;
  font-size: 24rem;
  font-family: opensans;
  color: #343430;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40rem;
  margin-top: 80rem;
}
.advantages .advantages-small-poselok font {
  font-family: opensansbold;
  color: #589233;
  font-size: inherit;
}
.advantages .advantages-green-text {
  display: block;
  font-family: opensansbold;
  text-transform: uppercase;
  text-align: center;
  color: #589233;
  font-size: 24rem;
  margin-bottom: 130rem;
}
.placement {
  background: #f7f7f6;
}
.placement .green-form:first-child {
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  position: relative;
}
.placement .green-form:first-child .listik-left {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 246rem;
  width: 10vw;
  -webkit-transform: translateX(-130%);
  -ms-transform: translateX(-130%);
  transform: translateX(-130%);
}
.placement .green-form:first-child .listik-right {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 188rem;
  width: 10vw;
  -webkit-transform: translateX(135%);
  -ms-transform: translateX(135%);
  transform: translateX(135%);
}
.placement .green-form:last-child {
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  position: relative;
}
.placement .green-form:last-child .leaf3 {
  position: absolute;
  width: 9vw;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(150%) translateY(15%);
  -ms-transform: translateX(150%) translateY(15%);
  transform: translateX(150%) translateY(15%);
}
.placement h2.title {
  padding: 0;
}
.placement img {
  width: 100%;
}
.placement .map {
  position: relative;
}
.placement .map .leaf2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 9vw;
  -webkit-transform: translateX(-130%);
  -ms-transform: translateX(-130%);
  transform: translateX(-130%);
}
.choose {
  background-image: url(../img/bg-3.png);
  background-position: center;
  background-repeat: no-repeat;
}
.choose h2.title {
  padding-top: 100rem;
}
.choose .choose-advantages {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -ms-flex-pack: replace(space-around, "flex-", "");
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.choose .choose-advantages .choose-advantages-advantage {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 100rem;
}
.choose .choose-advantages .choose-advantages-advantage .advantages-advantage-image {
  margin-right: 30rem;
}
.choose .choose-advantages .choose-advantages-advantage .advantages-advantage-descr {
  max-width: 270rem;
}
.choose .choose-advantages .choose-advantages-advantage .advantages-advantage-descr .title {
  font-size: 24rem;
  font-family: opensansbold;
  color: #589233;
  line-height: 1.25;
  text-align: left;
}
.choose .choose-advantages .choose-advantages-advantage .advantages-advantage-descr .description {
  color: #343430;
  font-size: 18rem;
  font-family: opensansbold;
}
.plan {
  position: relative;
  overflow: hidden;
}
.plan img {
  width: 100%;
}
.plan .plan-help {
  background-color: #ffffff;
  box-shadow: 0px 0px 22px 0px rgba(101, 116, 48, 0.7);
  position: absolute;
  top: 0;
  left: 10%;
  max-width: 255rem;
  max-height: 318rem;
  padding: 40rem 20rem 15rem 20rem;
  transition: 500ms;
}
.plan .plan-help p {
  font-size: 18rem;
  font-family: opensansbold;
  color: #343430;
  line-height: 1.667;
  padding-left: 40rem;
  background-position: center left;
  background-repeat: no-repeat;
  margin-bottom: 8rem;
  background-size: contain;
}
.plan .plan-help p.svobodno {
  background-image: url(../img/krug-grey.png);
}
.plan .plan-help p.bron {
  background-image: url(../img/krug-yellow.png);
}
.plan .plan-help p.zanyato {
  background-image: url(../img/krug-red.png);
}
.plan .plan-help .priglash {
  display: block;
  font-size: 16rem;
  font-family: opensansbold;
  color: #589233;
  line-height: 1.5;
  text-align: center;
}
.plan .plan-help .button {
  display: block;
  background-image: -moz-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  background-image: -webkit-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  background-image: -ms-linear-gradient(90deg, #d17b0c 0%, #e0ad12 100%);
  box-shadow: 0px 2px 0px 0px rgba(157, 94, 9, 0.004);
  width: 100%;
  font-size: 24rem;
  font-family: opensansbold;
  color: #ffffff;
  line-height: 0.75;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(157, 94, 9, 0.004);
  border-radius: 50px;
  padding: 15rem 0;
  cursor: pointer;
  margin: 15rem 0;
}
.plan .plan-help .button:hover {
  background-image: -moz-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
  background-image: -webkit-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
  background-image: -ms-linear-gradient(90deg, #d17b0c 0%, #ffc30f 100%);
}
.plan .plan-help .hide {
  display: table;
  font-size: 14rem;
  font-family: opensans;
  color: #343430;
  line-height: 1.714;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: 1px dotted #000;
}
.plan .plan-help .hide img {
  width: auto;
}
.plan .plan-help.close {
  -webkit-transform: translateY(-85%);
  -ms-transform: translateY(-85%);
  transform: translateY(-85%);
}
.plan .plan-help.close .hide img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.plan .plan-popup {
  position: absolute;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.902);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.3);
  max-width: 353rem;
  max-height: 363rem;
  overflow: hidden;
  padding: 18px;
  opacity: 0;
  z-index: -1;
}
.plan .plan-popup.active {
  opacity: 1;
  z-index: 1;
}
.plan .plan-popup .close {
  max-width: 10px;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 0%;
}
.plan .plan-popup .plan-popup-wrapper .images {
  display: none;
}
.plan .plan-popup .plan-popup-wrapper.house .images {
  display: block;
  margin-bottom: 10rem;
}
.plan .plan-popup .plan-popup-wrapper.house .images img {
  display: inline-block;
  vertical-align: middle;
  width: calc(33% - 10rem);
  margin-left: 10rem;
}
.plan .plan-popup .plan-popup-wrapper.house .images img:first-child {
  margin: 0;
}
.plan .plan-popup .plan-popup-wrapper .info-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: replace(center, "flex-", "");
  -webkit-justify-content: center;
  justify-content: center;
}
.plan .plan-popup .plan-popup-wrapper .info-wrapper .ploshad {
  width: 33%;
  text-align: center;
  padding: 0 30rem 0 0;
}
.plan .plan-popup .plan-popup-wrapper .info-wrapper .ploshad span {
  font-size: 24rem;
  font-family: opensansbold;
  color: #589233;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
.plan .plan-popup .plan-popup-wrapper .info-wrapper .ploshad img {
  max-width: 63px;
}
.plan .plan-popup .plan-popup-wrapper .info-wrapper .info {
  width: 67%;
}
.plan .plan-popup .plan-popup-wrapper .info-wrapper .info span {
  display: block;
  font-size: 14rem;
  color: #343430;
}
.plan .plan-popup .plan-popup-wrapper .info-wrapper .info span.green {
  color: #589233;
  font-family: opensansbold;
}
.plan .plan-popup .plan-popup-wrapper .info-wrapper .info span.green.price {
  font-size: 24rem;
}
.plan .plan-popup .plan-popup-wrapper .info-wrapper .info span.green.price small {
  font-size: 14rem;
  font-family: inherit;
}
.plan .plan-popup .plan-popup-wrapper .info-wrapper .info span:nth-child(2n) {
  margin-bottom: 12rem;
}
.plan .plan-popup .plan-popup-wrapper .green-line {
  background-color: #589233;
  width: 100%;
  height: 2px;
}
.plan .plan-popup .plan-popup-wrapper p {
  display: block;
  text-align: center;
  font-family: opensansbold;
  font-size: 16rem;
  line-height: 1.5;
}
.plan .plan-popup .plan-popup-wrapper p font {
  font-family: inherit;
  font-size: 24rem;
  color: #589233;
}
.plan .plan-popup .plan-popup-wrapper p font small {
  color: inherit;
  font-family: inherit;
  font-size: 16rem;
}
.kuchastku {
  position: relative;
  overflow: hidden;
}
.kuchastku .tree {
  position: absolute;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  width: 18vw;
}
.kuchastku .lists {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -ms-flex-pack: replace(space-around, "flex-", "");
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.kuchastku .lists .list {
  position: relative;
}
.kuchastku .lists .list li {
  position: relative;
  font-size: 18rem;
  color: #343430;
  line-height: 1.5;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  max-width: 400px;
  min-height: 55rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-left: 150rem;
}
.kuchastku .lists .list li::before {
  content: '';
  position: absolute;
  width: 150rem;
  margin-right: 5px;
  left: -150rem;
  height: 1px;
  border-top: 1px solid #D2D6D9;
  top: 50%;
}
.kuchastku .lists .list li::after {
  content: '';
  position: absolute;
  border-left: 1px solid #D2D6D9;
  height: 100%;
  width: 1px;
  left: -150rem;
  top: 0px;
}
.kuchastku .lists .list li:last-child:after {
  height: 50%;
}
.kuchastku .lists .list li:first-child:after {
  height: 50%;
  top: 50%;
}
.houses {
  position: relative;
  overflow: hidden;
}
.houses .tree {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(55%);
  -ms-transform: translateY(55%);
  transform: translateY(55%);
  width: 18vw;
}
.houses .owl {
  margin-bottom: 240rem;
}
.houses .item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: replace(space-between, "flex-", "");
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.houses .item .house {
  position: relative;
}
.houses .item .house .house-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  height: 80px;
  padding: 10rem;
}
.houses .item .house .house-info img {
  max-width: 12px;
  width: auto;
  display: inline;
}
.houses .item .house .house-info > span {
  display: block;
}
.houses .item .house .house-info .address {
  color: #589233;
  font-size: 14px;
  font-family: opensansbold;
}
.houses .item .house .house-info .material {
  color: #343430;
  font-size: 14px;
  font-family: opensansbold;
}
.houses .item .house .house-info .material font {
  color: #589233;
  font-size: 14px;
  font-family: inherit;
}
.houses .item .house .house-info .razmer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: replace(space-between, "flex-", "");
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.houses .item .house .house-info .razmer span {
  font-size: 16px;
  font-family: opensansbold;
  color: #589233;
}
.houses .item .house .house-info .razmer span small {
  font-size: 12px;
  color: #343430;
  font-family: inherit;
}
.houses .item .house:first-child {
  margin-left: 0;
}
.houses .item .house:last-child {
  margin-right: 0;
}
.two-years {
  background-color: #ededec;
  background-image: url(../img/wave.png);
  background-position: center top;
  background-repeat: repeat-x;
}
.two-years .wrapper {
  position: relative;
}
.two-years .green-form {
  -webkit-transform: translateY(-75%);
  -ms-transform: translateY(-75%);
  transform: translateY(-75%);
  position: absolute;
}
.two-years h2.title {
  margin-bottom: 60rem;
  padding-top: 100rem;
}
.two-years .two-years-green-text {
  display: block;
  text-align: center;
  font-size: 24rem;
  font-family: opensans;
  color: #589233;
  line-height: 1.25;
  margin-bottom: 40rem;
}
.two-years .two-years-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-evenly;
  -moz-box-pack: space-evenly;
  -ms-flex-pack: replace(space-evenly, "flex-", "");
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  padding-bottom: 70rem;
}
.two-years .two-years-wrapper span {
  font-size: 24rem;
  font-family: opensansbold;
  color: #343430;
  line-height: 1.25;
  text-align: center;
  display: block;
  margin-bottom: 40rem;
}
.two-years .two-years-wrapper .two-years-photos-wrapper img {
  display: inline-block;
  width: 49%;
}
.partners {
  background-image: url(../img/bg-3.png);
  position: relative;
}
.partners .leaf5 {
  position: absolute;
  width: 5.3vw;
  top: 0;
  left: 0;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  z-index: 1;
}
.partners .leaf6 {
  position: absolute;
  width: 5.3vw;
  right: 0;
  bottom: 0;
}
.partners .partners-photos {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -ms-flex-pack: replace(space-between, "flex-", "");
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 60rem;
}
.partners .partners-photos img {
  -moz-align-self: center;
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
  width: 100%;
}
.banner.footer {
  background-image: url(../img/wave180.png), url(../img/bg.jpg);
  background-repeat: repeat-x, no-repeat;
  background-position: center bottom, center;
  clip-path: none;
  height: auto;
}
.banner.footer .wrapper {
  padding-bottom: 4.5vw;
}
@media screen and (max-width: 1200px) {
  .green-form input[type="submit"] {
    margin-top: 30px;
  }
  .kuchastku .lists .list li {
    margin-left: 100rem;
    max-width: 320rem;
    min-height: 85rem;
  }
  .kuchastku .lists .list li::before {
    width: 90rem;
    left: -90rem;
  }
  .kuchastku .lists .list li::after {
    left: -90rem;
  }
  .houses .item {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .houses .owl {
    margin-bottom: 250px;
  }
  .two-years h2.title {
    padding-top: 120px;
  }
  .partners .partners-photos > div {
    margin-left: 60rem;
  }
  .partners .partners-photos > div:first-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 720px) {
  h2.title::after {
    display: none;
  }
  .banner {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  }
  .about .gallery .about-gallery {
    width: calc(49% - 15rem);
    margin-bottom: 10px;
  }
  .advantages .left-tree,
  .advantages .right-tree {
    display: none;
  }
  .advantages-advantage-image img {
    width: 60px;
  }
  .advantages .advantages-advantage:nth-child(2n+1) {
    margin-left: 25%;
  }
  .green-form {
    padding: 55rem 40px;
  }
  .green-form input[type="text"] {
    margin: 0 auto;
    margin-bottom: 15px;
    height: 30px;
    width: 100%;
  }
  .green-form input[type="submit"] {
    height: 30px;
    margin: 0;
    width: 100%;
  }
  .choose .choose-advantages .choose-advantages-advantage {
    width: 50%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .choose .choose-advantages .choose-advantages-advantage .advantages-advantage-image {
    margin: 0;
  }
  .choose .choose-advantages .choose-advantages-advantage .advantages-advantage-descr {
    text-align: center;
  }
  .plan .plan-help {
    max-width: 80px;
    max-height: 110px;
    padding: 15rem 10rem 15rem 10rem;
  }
  .plan .plan-help p {
    font-size: 8px;
    line-height: 1;
  }
  .plan .plan-help .priglash {
    font-size: 8px;
    line-height: 1;
  }
  .plan .plan-help .button {
    padding: 5rem 0;
    margin: 5rem 0;
    font-size: 6px;
  }
  .plan .plan-help .hide {
    font-size: 9rem;
  }
  .plan .plan-popup {
    padding: 5px;
    max-width: 150rem;
    max-height: 180rem;
  }
  .plan .plan-popup .close {
    max-width: 10px;
  }
  .plan .plan-popup .plan-popup-wrapper.house .images {
    margin-bottom: 0;
  }
  .plan .plan-popup .plan-popup-wrapper.house .images img {
    width: calc(33% - 10rem);
    margin-left: 10rem;
  }
  .plan .plan-popup .plan-popup-wrapper .info-wrapper {
    display: block;
  }
  .plan .plan-popup .plan-popup-wrapper .info-wrapper .ploshad {
    width: 100%;
    padding: 0;
    text-align: left;
  }
  .plan .plan-popup .plan-popup-wrapper .info-wrapper .ploshad span {
    font-size: 12rem;
  }
  .plan .plan-popup .plan-popup-wrapper .info-wrapper .ploshad span:after {
    content: ' сотки';
    text-transform: none;
  }
  .plan .plan-popup .plan-popup-wrapper .info-wrapper .ploshad img {
    display: none;
  }
  .plan .plan-popup .plan-popup-wrapper .info-wrapper .info {
    width: 100%;
  }
  .plan .plan-popup .plan-popup-wrapper .info-wrapper .info span {
    font-size: 9rem;
  }
  .plan .plan-popup .plan-popup-wrapper .info-wrapper .info span.green.price {
    font-size: 12rem;
  }
  .plan .plan-popup .plan-popup-wrapper .info-wrapper .info span.green.price small {
    font-size: 8rem;
  }
  .plan .plan-popup .plan-popup-wrapper .info-wrapper .info span:nth-child(2n) {
    margin-bottom: 0;
  }
  .plan .plan-popup .plan-popup-wrapper .green-line {
    background-color: #589233;
    width: 100%;
    height: 2px;
  }
  .plan .plan-popup .plan-popup-wrapper p {
    font-size: 9rem;
    line-height: 1;
  }
  .plan .plan-popup .plan-popup-wrapper p font {
    font-size: 9rem;
  }
  .plan .plan-popup .plan-popup-wrapper p font small {
    font-size: 8rem;
  }
  .kuchastku .lists {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .kuchastku .tree {
    display: none;
  }
  .two-years .two-years-wrapper .two-years-photos-wrapper img {
    width: 100%;
  }
  .placement .green-form:last-child {
    -webkit-transform: translateY(15%);
    -ms-transform: translateY(15%);
    transform: translateY(15%);
  }
  .placement .listik-left,
  .placement .listik-right,
  .placement .leaf2,
  .placement .leaf3 {
    display: none;
  }
  .partners .leaf5,
  .partners .leaf6 {
    display: none;
  }
  .partners .partners-photos {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .partners .partners-photos > div {
    margin-left: 60rem;
    width: calc(49% - 60rem);
    margin-bottom: 20rem;
  }
  .partners .partners-photos > div:nth-last-child(2) {
    margin: 0;
  }
  .houses .tree {
    display: none;
  }
  .houses .green-form {
    -webkit-transform: translateY(15%);
    -ms-transform: translateY(15%);
    transform: translateY(15%);
  }
  .houses .item .house:first-child {
    margin-bottom: 30px;
  }
}
